/* INICIO DO CSS COM O RESET */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* PERSONALIZANDO O CORPO DO ARQUIVO */
body{
    background: linear-gradient(#000,#9400d3 );
}

/* MEXENDO COM AS IMAGENS */
body img{
    width: 350px;
}

#Mario{
    height: 500px;
}

/* PERSONALIZANDO ELEMENTOS DO CORPO DO ARQUIVO */
body h1, h2, h3, p{
    color: darkcyan;
}

/* ESTILIZANDO O CABECALHO */
header li {
    display:inline;
    text-decoration: none;
    color: inherit;
}

/* ESTILIZANDO CAIXA */
.container{
    margin: 0 auto;
    width: 1366px;
    
}
.cabeca{
    margin: 0 auto;
    width: 1366px;
    
}

/* ESTILIZANDO OS MEUS ARTICLE */


.artigo1{
    
    /* background-color: red; */
    justify-content: space-between;
    flex-wrap: wrap;
    display: flex;
    width: 100%;
    flex: 1;
}
.artigo2{
    /* background-color: pink; */
    justify-content: space-between;
    flex-wrap: wrap;
    display: flex;
    width: 100%;
    flex: 1;
}
.artigo3{
    /* background-color: orangered; */
    justify-content: space-between;
    flex-wrap: wrap;
    display: flex;
    width: 100%;
    flex: 1;
}
.artigo4{
    /* background-color: #1c1c1c; */
    justify-content: space-between;
    flex-wrap: wrap;
    display: flex;
    width: 100%;
    flex: 1;
}

/* ESTILIZANDO ELEMENTOS DE CONTAINER */
